[submodule "Dependencies/Third_Party/assimp"]
	path = External/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Dependencies/Third_Party/entt"]
	path = External/entt
	url = https://github.com/skypjack/entt.git
