[submodule "Dependencies/Third_Party/assimp"]
	path = Dependencies/Third_Party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Dependencies/Third_Party/glm"]
	path = Dependencies/Third_Party/glm
	url = https://github.com/g-truc/glm.git
